<footer>
    <div class="footerContainer">
        <div class="innerFooterContainer">
            <div nz-row class="contactOuterContainer">
                <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
                    <div class="contactContainer">
                        <div class="iconContainer">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill="#caedf7" width="40"
                                height="40" viewBox="0 0 395.71 395.71">
                                <path
                                    d="M197.849 0C122.131 0 60.531 61.609 60.531 137.329c0 72.887 124.591 243.177 129.896 250.388l4.951 6.738c.579.792 1.501 1.255 2.471 1.255.985 0 1.901-.463 2.486-1.255l4.948-6.738c5.308-7.211 129.896-177.501 129.896-250.388C335.179 61.609 273.569 0 197.849 0zm0 88.138c27.13 0 49.191 22.062 49.191 49.191 0 27.115-22.062 49.191-49.191 49.191-27.114 0-49.191-22.076-49.191-49.191 0-27.129 22.076-49.191 49.191-49.191z" />
                            </svg>
                        </div>
                        <div class="dataContainer">
                            <div class="header">Find us</div>
                            <div class="body">If you can lol..</div>
                        </div>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
                    <div class="contactContainer">
                        <div class="iconContainer">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill="#caedf7" width="40"
                                height="40" viewBox="0 0 512 512">
                                <path
                                    d="m426.7 453.8-38.1-79.1c-8.2-16.9-18.8-29.2-37.1-21.7l-36.1 13.4c-28.9 13.4-43.3 0-57.8-20.2l-65-147.9c-8.2-16.9-3.9-32.8 14.4-40.3l50.5-20.2c18.3-7.6 15.4-23.4 7.2-40.3l-43.3-80.6c-8.2-16.9-25-21-43.3-13.5-36.6 15.1-66.9 38.8-86.6 73.9-24 42.9-12 102.6-7.2 127.7 4.8 25.1 21.6 69.1 43.3 114.2 21.7 45.2 40.7 80.7 57.8 100.8 17 20.1 57.8 75.1 108.3 87.4 41.4 10 86.1 1.6 122.7-13.5 18.4-7.2 18.4-23.1 10.3-40.1z" />
                            </svg>
                        </div>
                        <div class="dataContainer">
                            <div class="header">Call us</div>
                            <div class="body">0000000000</div>
                        </div>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
                    <div class="contactContainer">
                        <div class="iconContainer">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 96" fill="#caedf7" width="40"
                                height="40">
                                <path
                                    d="M0 11.283V8a8 8 0 0 1 8-8h112a8 8 0 0 1 8 8v3.283l-64 40zm66.12 48.11a4.004 4.004 0 0 1-4.24 0L0 20.717V88a8 8 0 0 0 8 8h112a8 8 0 0 0 8-8V20.717z"
                                    data-name="Layer 2" />
                            </svg>
                        </div>
                        <div class="dataContainer">
                            <div class="header">Mail us</div>
                            <div class="body">somethingsomething.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-row class="footerDataContainer">
                <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8" class="dataColumn">
                    <ng-template #AboutUsHeader>
                        <div class="headerContainer">
                            <div class="header">
                                About Us
                            </div>
                        </div>
                    </ng-template>
                    <nz-collapse nzGhost>
                        <nz-collapse-panel [nzHeader]="AboutUsHeader" [nzActive]="true" [nzShowArrow]="false">
                            <div class="bodyContainer">
                                <div style="padding: 3px 0px;">
                                    <img style="max-height: 80px;" src="https://i.imgur.com/sMZeiEx.png">
                                </div>
                                <div style="padding: 3px 0px; color: #757575; padding-top: 10px;">
                                    Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor
                                    incididuntut consec tetur adipisicing elit,Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </nz-collapse-panel>
                    </nz-collapse>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16" class="dataColumn">
                    <ng-template #LinksHeader>
                        <div class="headerContainer">
                            <div class="header">
                                Useful Links
                            </div>
                        </div>
                    </ng-template>
                    <nz-collapse nzGhost>
                        <nz-collapse-panel [nzHeader]="LinksHeader" [nzActive]="true" [nzShowArrow]="false">
                            <div class="links bodyContainer">
                                <div style="width: 50%;">
                                    <ul class="linksList">
                                        <li *ngFor="let link of linksPart1; let i = index">
                                            <a [routerLink]="[link.routerLink]" *ngIf="!link.fullLink"> {{link.text}}
                                            </a>
                                            <a [href]="[link.routerLink]" *ngIf="link.fullLink"> {{link.text}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div style="width: 50%;">
                                    <ul class="linksList">
                                        <li *ngFor="let link of linksPart2; let i = index">
                                            <a [routerLink]="[link.routerLink]" *ngIf="!link.fullLink"> {{link.text}}
                                            </a>
                                            <a [href]="[link.routerLink]" *ngIf="link.fullLink"> {{link.text}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nz-collapse-panel>
                    </nz-collapse>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrightAndSocialContainer">
        <div class="innerCopyrightAndSocialContainer">
            <div class="copyrightContainer">
                Copyright © 2018, All Right Reserved Gamble4846
            </div>
            <div class="socialContainer">
                <div>
                    <span (click)="SocialClicked('instagram')" nz-icon nzType="instagram" nzTheme="fill"></span>
                </div>
                <div>
                    <span (click)="SocialClicked('github')" nz-icon nzType="github" nzTheme="fill"></span>
                </div>
                <div>
                    <span (click)="SocialClicked('linkedin')" nz-icon nzType="linkedin" nzTheme="fill"></span>
                </div>
                <div>
                    <span (click)="SocialClicked('reddit')" nz-icon nzType="reddit-square" nzTheme="fill"></span>
                </div>
            </div>
        </div>
    </div>
</footer>