<div class="gs-menu">
    <div class="gs-menu-left-container">
        <div class="gs-menu-logo-conatainer">
            <img src="https://i.imgur.com/rXvrJjf.png" class="gs-menu-logo" (click)="OpenRoute('/')">
        </div>
        <div class="gs-menu-items">
            <ul>
                <li><a (click)="OpenRoute('/')">Home</a></li>
                <li><a (click)="OpenRoute('/SDA')">SDA</a></li>
            </ul>
        </div>
    </div>

    <div class="gs-menu-right-upper-container">
        <div class="gs-menu-right-container">
            <div class="gs-menu-toggle-container" (click)="ToggleMenu()">
                <svg xmlns="http://www.w3.org/2000/svg" class="gs-menu-toggle-icon" viewBox="0 0 24 24">
                    <path fill="#3ed5ff"
                        d="M 2 5 L 2 7 L 22 7 L 22 5 L 2 5 z M 2 11 L 2 13 L 22 13 L 22 11 L 2 11 z M 2 17 L 2 19 L 22 19 L 22 17 L 2 17 z" />
                </svg>
            </div>
        </div>
    </div>


    <div class="gs-menu-mobile-view" [ngClass]="{'gs-open': menuOpen}">
        <div class="gs-menu-mobile-exit-click" (click)="CloseMenu()">

        </div>
        <div class="gs-menu-items gs-menu-items-Mobile">
            <ul>
                <li><a (click)="OpenRoute('/')">Home</a></li>
                <li><a (click)="OpenRoute('/SDA')">SDA</a></li>
            </ul>
        </div>
    </div>
</div>